<div class="container quizz-container">
  <div class="text-center quizz-logo">
    <img src="/assets/imgs/logo.png" alt="logos" class="img-fluid" />
    <h3>{{ title }}</h3>
  </div>
  <div *ngIf="!finished" class="quizz-questions text-center p-3">
    {{ questionSelected.question }}
  </div>
  <div *ngIf="!finished" class="quizz-options row g-2 justify-content-center">
    <div
      class="col-12 col-sm-6"
      *ngFor="let opt of questionSelected.options; let i = index"
    >
      <button class="btn btn-success w-100" (click)="playerChoose(opt.alias)">
        {{ opt.name }}
      </button>
    </div>
  </div>
  <div *ngIf="finished" class="quizz-results text-center p-4">
    <h1>O seu resultado é:</h1>
    <p>{{ answersSelected }}</p>
  </div>
</div>
